@page "/"

<PageTitle>Home</PageTitle>

<FluentLayout>
    <FluentHeader>
        Home
    </FluentHeader>

    <FluentCard>
        <FluentLabel Typo="Typography.Subject">
            Azure Maps Sandbox
        </FluentLabel>
        <br />
        <FluentLabel Typo="Typography.Body">
            A demo of this, and other of my <code>`DotNet`</code> packages, can be found
            <a href="https://github.com/marqdouj/dotnet.demo" target="_blank">here</a>.
        </FluentLabel>
        <br />
        <FluentLabel>
            <span style="font-weight:500;">## Prerequisites</span>
            <br />
            <a href="https://learn.microsoft.com/en-us/azure/azure-maps/quick-demo-map-app#create-an-azure-maps-account" target="_blank">Azure Maps account</a>.
            If you don't have an Azure account, you can create a
            <a href="https://azure.microsoft.com" target="_blank">free account</a>.
        </FluentLabel>
        <br />
        <FluentLabel>
            <span style="font-weight:500;">## Configuration</span>
            <br />
            See Program.cs, MapSetup.cs, and App.Razor.
        </FluentLabel>
        <br />
        <FluentStack>
            <a href="https://github.com/marqdouj/DotNet.AzureMaps" target="_blank">GitHub Repository</a>
            <a href="https://www.nuget.org/packages/Marqdouj.DotNet.AzureMaps" target="_blank">NuGet Package</a>
            <a href="https://learn.microsoft.com/en-us/azure/azure-maps/how-to-use-map-control" target="_blank">Azure Maps SDK</a>
        </FluentStack>
    </FluentCard>
</FluentLayout>
